:root{
  --colorPrimaryMain: #7510F7;
  --colorPrimaryDark: #141c3a;
  --scrollThumb: #626e99;;
  --scrollThumbHover: #3a4058;
  --scrollThumbActive: #141c3a;
  --white: #ffffff;
  --header: 96px;
}

body {
  margin: 0;
  font-family: montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

body::-webkit-scrollbar {
    width: 8px;    
    height: 8px;   
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollThumb);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--scrollThumbHover);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollThumbActive);
}

body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}


p{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.transition{
  animation: opacity 1s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}